* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: plum;
}

header {
    margin: 0 auto;
    max-width: 95%;
    background-color: rgb(252, 239, 218);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-areas: "img text menu";
    animation: slide-bottom 1s ease-in-out both;
}

header picture img, header picture source {
    grid-area: img;
    height: 6vw;
}

header p {
    grid-area: text;
    margin: auto 0;
}

header ul {
    grid-area: menu;
    margin: auto 0;
    text-align: right;
}

header ul li , header p {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 1.6em;
    text-decoration: none;
    color: inherit;
    transition: transform .2s;
}

header ul li:last-child {
    margin: 0 1em;
}

li:hover {
    transform: scale(1.3);
}

#contenido {
    margin: 0 auto;
    width: 75%;
}

@keyframes slide-bottom {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    header picture img {
        height: 15vw;
        margin-left: 60px;
    }

    header ul {
        text-align: center;
    }

    header ul li:last-child {
        display: block;
        margin: 5px 0;
    }

    header p, header ul li{
        font-size: 4vw;
    }
}