*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: plum;
    
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#grafics{
    display: flex;
    flex-direction: column;
}

header {
    margin: 0 auto;
    max-width: 95%;
    background-color: rgb(252, 239, 218);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(2,50%);
    grid-template-areas:
    "img text menu"
    "img text modo";
    animation: slide-bottom 1.2s ease-in-out both;
    animation-delay: 0.2s;
}

header picture img, header picture source {
    grid-area: img;
    height: 6vw;
    align-self: center;
    justify-items: center;
}

header p {
    grid-area: text;
    margin: auto 0;
}

header p {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 1.6em;
    text-decoration: none;
    color: inherit;
    transition: transform .2s;
}

#menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mode {
    grid-area: modo;
    align-self: center;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.contenido {
    margin: auto;
    height: 100%;
    width: 75%;
}

canvas {
    width: 100%;
    margin-left: 1em;
    margin-top: 1em;
}

#contenedor_carga{
    background-color: rgb(221, 221, 221);
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 1.4s ease;
    transition-delay: 0.4s;
    z-index: 2;
}

#carga {
    border: 15px solid #ccc;
    border-top-color: #F4266A;
    border-top-style: groove;
    height: 150px;
    width: 150px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1s linear infinite;
}

#contenedor_carga img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@keyframes girar {
    from { transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
    
}

@keyframes slide-bottom {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 650px) {
    header picture img {
        height: 15vw;
        margin-left: 5px;
    }

    header p {
        font-size: 4vw;
        margin: auto 0;
    }
    section{
        flex-direction: column;
    }
    #grafics{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 768px) {
    header picture img {
        height: 15vw;
        margin-left: 60px;
    }

    header p {
        font-size: 4vw;
        margin: auto 0;
    }
}

@media screen and (max-width: 1024px) {
    header picture img {
        height: 15vw;
        margin-left: 60px;
    }

    header p {
        font-size: 4vw;
        margin: auto 0;
    }

    
}

@media screen and (max-width: 1280px) {
    header picture img {
        height: 15vw;
        margin-left: 60px;
    }

    header p {
        font-size: 4vw;
        margin: auto 0;
    }
}